<p style="color: green"><%= notice %></p>

<%= render @weapon_property %>

<div>
  <%= link_to "Edit this weapon property", edit_weapon_property_path(@weapon_property) %> |
  <%= link_to "Back to weapon properties", weapon_properties_path %>

  <%= button_to "Destroy this weapon property", @weapon_property, method: :delete %>
</div>
