<div id="<%= dom_id race %>">
  <p>
    <strong>Name:</strong>
    <%= race.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= race.desc %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= race.speed %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= race.size %>
  </p>

</div>
