<div id="<%= dom_id magic_item %>">
  <p>
    <strong>Name:</strong>
    <%= magic_item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= magic_item.category %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= magic_item.rarity %>
  </p>

  <p>
    <strong>Variant:</strong>
    <%= magic_item.variant %>
  </p>

  <p>
    <strong>Variant of:</strong>
    <%= magic_item.variant_of_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= magic_item.desc %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= magic_item.properties %>
  </p>

</div>
