<div id="<%= dom_id spell %>">
  <p>
    <strong>Name:</strong>
    <%= spell.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= spell.desc %>
  </p>

  <p>
    <strong>School:</strong>
    <%= spell.school %>
  </p>

  <p>
    <strong>Components:</strong>
    <%= spell.components %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= spell.material %>
  </p>

  <p>
    <strong>Ritual:</strong>
    <%= spell.ritual %>
  </p>

  <p>
    <strong>Duration number:</strong>
    <%= spell.duration_number %>
  </p>

  <p>
    <strong>Duration unit:</strong>
    <%= spell.duration_unit %>
  </p>

  <p>
    <strong>Duration delimiter:</strong>
    <%= spell.duration_delimiter %>
  </p>

  <p>
    <strong>Concentration:</strong>
    <%= spell.concentration %>
  </p>

  <p>
    <strong>Casting time unitt:</strong>
    <%= spell.casting_time_unitt %>
  </p>

  <p>
    <strong>Casting time number:</strong>
    <%= spell.casting_time_number %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= spell.level %>
  </p>

  <p>
    <strong>Attack type melee:</strong>
    <%= spell.attack_type_melee %>
  </p>

  <p>
    <strong>Saving throw:</strong>
    <%= spell.saving_throw %>
  </p>

  <p>
    <strong>Dc success:</strong>
    <%= spell.dc_success %>
  </p>

  <p>
    <strong>Dc desc:</strong>
    <%= spell.dc_desc %>
  </p>

  <p>
    <strong>Aoe type:</strong>
    <%= spell.aoe_type %>
  </p>

  <p>
    <strong>Aoe size:</strong>
    <%= spell.aoe_size %>
  </p>

</div>
