<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= item.desc %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Weapon category:</strong>
    <%= item.weapon_category %>
  </p>

  <p>
    <strong>Weapon range:</strong>
    <%= item.weapon_range %>
  </p>

  <p>
    <strong>Cost cp:</strong>
    <%= item.cost_cp %>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= item.damage %>
  </p>

  <p>
    <strong>Damage type:</strong>
    <%= item.damage_type %>
  </p>

  <p>
    <strong>Range normal:</strong>
    <%= item.range_normal %>
  </p>

  <p>
    <strong>Range long:</strong>
    <%= item.range_long %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= item.properties %>
  </p>

  <p>
    <strong>Throw range normal:</strong>
    <%= item.throw_range_normal %>
  </p>

  <p>
    <strong>Throw range long:</strong>
    <%= item.throw_range_long %>
  </p>

  <p>
    <strong>Two handed damage:</strong>
    <%= item.two_handed_damage %>
  </p>

  <p>
    <strong>Two handed damage type:</strong>
    <%= item.two_handed_damage_type %>
  </p>

  <p>
    <strong>Custom:</strong>
    <%= item.custom %>
  </p>

  <p>
    <strong>Armor category:</strong>
    <%= item.armor_category %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= item.armor_class %>
  </p>

  <p>
    <strong>Ac dex bonus:</strong>
    <%= item.ac_dex_bonus %>
  </p>

  <p>
    <strong>Max bonus:</strong>
    <%= item.max_bonus %>
  </p>

  <p>
    <strong>Str minimum:</strong>
    <%= item.str_minimum %>
  </p>

  <p>
    <strong>Stealth disadvantage:</strong>
    <%= item.stealth_disadvantage %>
  </p>

  <p>
    <strong>Gear category:</strong>
    <%= item.gear_category %>
  </p>

  <p>
    <strong>Tool category:</strong>
    <%= item.tool_category %>
  </p>

  <p>
    <strong>Vehicle category:</strong>
    <%= item.vehicle_category %>
  </p>

  <p>
    <strong>Speed unit:</strong>
    <%= item.speed_unit %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= item.speed %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= item.capacity %>
  </p>

</div>
