<div id="<%= dom_id klass %>">
  <p>
    <strong>Name:</strong>
    <%= klass.name %>
  </p>

  <p>
    <strong>Hit die:</strong>
    <%= klass.hit_die %>
  </p>

  <p>
    <strong>Spellcasting level:</strong>
    <%= klass.spellcasting_level %>
  </p>

  <p>
    <strong>Spellcasting ability:</strong>
    <%= klass.spellcasting_ability %>
  </p>

  <p>
    <strong>Prerequisites:</strong>
    <%= klass.prerequisites %>
  </p>

</div>
